/* diwali-grid test colors */

.test.diwali-grid {
    background-color: #f0f0f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
  
.test.diwali-grid-container {
    border: 1px solid silver;
    border-left: 0px;
}
  
.test.diwali-grid-column-container {
    border-left: 1px solid silver;
}
  
.test.diwali-grid-head-cell {
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding-left: 4px;
    background-color: rgba(0,0,0,0.1);
}

.test.diwali-grid-head-cell.selected {
    box-shadow: inset -1px 1px 0px 0px rgba(255,0,0,0.4);
}

.test.diwali-grid-head-cell.selected.descending {
    box-shadow: inset -1px -1px 0px 0px rgba(255,0,0,0.4);;
}

.test.diwali-grid-title {
    background-color: transparent;
    font-style: italic;
}
  
.test.diwali-grid-grip {
    cursor: ew-resize;
    background-color: transparent;
    border-right: 1px solid silver;
}
  
.test.diwali-grid-body {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.test.diwali-grid-column {
    border-left: 1px solid white;
    border-right: 1px solid silver;
}
  
.test.diwali-grid-cell:not(.selected) {
    background-color: rgba(255,255,255,0.2);
}
  
.test.diwali-grid-cell:nth-child(odd):not(.selected) {
    background-color: rgba(255,255,255,0.95);
}
  
.test.diwali-grid-cell.selected {
    background-color: rgba(0,0,255,0.2);
}
  
.test.diwali-grid-cell-text {
    padding-left: 4px;
    background-color: transparent;
}
  
  