.diwali-grid {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  background-color: transparent;
}

.diwali-grid-container {
  flex-grow: 1;
  position:relative;
  flex-direction: row;
  overflow: hidden;
}

.diwali-grid-column-container {
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:14px;
  overflow-x:scroll;
  overflow-y:hidden;
}

.diwali-grid-head {
  display: flex;
  flex-direction: row;
}


.diwali-grid-head-cell {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
}

.diwali-grid-title {
  width: 100%;
  flex-shrink:1;
  flex-grow:0;
}

.diwali-grid-grip {
  flex-grow: 0;
  flex-shrink: 0;
  width: 8px;
}

.diwali-grid-body {
  display: flex;
  flex-direction: row;
}

.diwali-grid-column {
  flex-shrink: 0;
  flex-grow: 0;
}

.diwali-grid-cell {
  padding: 0px;
  margin: 0px;
  border: 0px;
}


.diwali-grid-scroll-bar {
  position: absolute;
  top:0px;
  bottom:14px;
  right:0px;
  overflow-y: scroll;
}

.diwali-grid-scroll-bar-content {
  width: 1px;
}


/* default colors */

.default.diwali-grid {
  background-color: #f0f0f8;
}

.default.diwali-grid-container {
  border: 1px solid silver;
  border-left: 0px;
}

.default.diwali-grid-column-container {
  border-left: 1px solid silver;
}

.default.diwali-grid-head-cell {
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding-left: 4px;
  background-color: rgba(0,0,0,0.1);
}

.default.diwali-grid-head-cell.selected {
  box-shadow: inset -1px 1px 0px 0px rgba(255,0,0,0.4);
}

.default.diwali-grid-head-cell.selected.descending {
  box-shadow: inset -1px -1px 0px 0px rgba(255,0,0,0.4);;
}

.default.diwali-grid-title {
  background-color: transparent;
}

.default.diwali-grid-grip {
  cursor: ew-resize;
  background-color: transparent;
  border-right: 1px solid silver;
}


.default.diwali-grid-body {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.default.diwali-grid-cell-text {
  padding-left: 4px;
  background-color: transparent;
}

.default.diwali-grid-cell:not(.selected) {
  background-color: rgba(255,255,255,0.2);
}

.default.diwali-grid-cell:nth-child(odd):not(.selected) {
  background-color: rgba(255,255,255,0.95);
}

.default.diwali-grid-cell.selected {
  background-color: rgba(0,0,255,0.2);
}

.default.diwali-grid-column {
  border-left: 1px solid white;
  border-right: 1px solid silver;
}
